services:
  meetverse:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      NODE_ENV: development
      PORT: 5173
    ports:
      - "5173:5173"
  web:
    image: nginx:alpine
    ports:
      - "80:80" 
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - webnet:/var/www/html
    networks:
      - webnet
    depends_on:
      - meetverse

networks:
  webnet:
    driver: bridge  